#contenedor {
 height: 1000px;
 width: 900px;
 background-color: #f1ecea;


}
#encabezado{
display: flex;
height: 15%;
width: 100%;
}
header h1{
display: flex;
align-items: center;
height: 100%;
width: 100%;
background-color: #3a251c ;
color: white;
justify-content: center;
flex: 1; /* Usamos flex para que el h1 ocupe todo el espacio disponible */
margin: 0; /* Eliminamos márgenes predeterminados */
padding: 0; /* Eliminamos relleno predeterminado */
}
#menu{
    background-color: #b46424 ;
    text-decoration: none;
    display: flex;
    color: white;
    height: 5%;
    gap: 60px;
    
}
#menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#lado{
display: flex;
margin: 2%;
}

aside{
    margin-left: 2%;
    background-color: #b58c7c;
    padding: 2%;
    color: white;
    width: 35%;
}
aside ul{
    padding-left: 30%;
    
}
aside ul li{
    display: flex;
    margin-bottom: 15px;
    
}
article{
    background-color: #362f2f;
    color: white;
    padding: 2%;
    text-align: justify;
    width: 64%;
}
footer{
    display: flex;
    background-color:  #3a251c;
    height: 10%;
    color: white;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #f1ecea;
}
picture{
    display: flex;
    justify-content: center;

}
span{
    font-weight: 700;
    
}