/*Estilos para la pagina del ciclo del agua*/

/*Selector Universal*/

*{
    padding: 0%;
    margin: 0%;
}



/*selector ID*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color:  #b58c7c;
    max-width: 0 auto;
    max-height: 0 auto;
    border-radius: 5px;
    

}

#encabezado{
    font-family: cursive;
    font-size: 45px;
    color:  white;
    background-color: #3a251c;
    margin: 0px;
    width: 900px;
    margin-left: 0px;
    height:15% ;
   
   
}

#fueraSeccion{
    height: 35%;
    width: 35%;
    background-color: #b58c7c;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-left:0px ;
    border-radius: 5px ;
}


.contenedorizquierdo li  {
    margin-top: 10px;
}

.contenedorizquierdo {
   
    text-align:justify;
    margin: 0;
    margin-top: 40px;
    display:block;
    height: 35% ;
    width: 68%;
    font-size: 20px;
}
.contenedorizquierdoh2{
    text-align:center;
    margin: -10;
    margin-left: 30px;
    display:block;
    height: 35% ;
    width: 90%;
    font-size: 32px;
}



#contenido{
    height: 64% ;
    width: 55%;
    border-radius: 5px ;
    text-align: justify;
    background-color: #362f2f;
    color: white;
    display: inline-block;
    margin-right:5px;
    margin-left: 2px;
    margin-top: 10px;
    padding: 2%;
    font-size: 17px;
    font-family: cursive;
   
}

#menu{
    font-size: 30px;
    background-color: #b46424 ;
    margin-top: -15px;
    margin-bottom: 2px;
    color: white;
    height:5% ;
 }


#menu nav ul li{
    display:inline-block;
    margin: 5px;
    padding-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    font-family: cursive;
}

img{
    margin-right: 5px; 
    margin-left: 5px;
    height: 100px;    
    width: 100px;    
    object-fit: cover;  
    border-radius: 5px; 
    border: 1px solid #f1ecea;
   
}
#todimg{
    
    padding-left: 70px;
    margin-right: 70px;
}
#negrita{
    font-weight: bold;
}
#pie{
    margin-top:5px ;
    padding-top: 30px;
    background-color: #3a251c ;
    color: white;
    height: 10%;
    font-size: 20px;
    text-align:center;
}
.resaltar{
    color: white; 
    transition: color 0.3s; 
}
.resaltar:hover {
    color: black; /* Color de resaltado cuando se pasa el cursor sobre el texto */
}

.resaltar2{
    font-size: 20px; 
    transition:font-size 0.3s; 
}
.resaltar2:hover {
    font-size: 25px; 
}