body, html{
    margin: 0;
    padding: auto;
    background-image: url(/img/Espacio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}


#contenedor{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    height: auto ;

}

#encabezado {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw; 
    color: white;
    text-align: center; 
    justify-content: center;
    height: 25%;
    display: flex;
    margin-top: -2%;
    text-shadow: 20px 0px 20px blue;
}

#menu { 
    color: white;
    background-color: rgba(0, 0, 0, 0.793) ;
    height: 5%;
    color: blue;
    border: 2px solid blue;
    box-shadow: 2px 2px 10px blue;
    margin-right: -2%;
    margin-left: -1%;
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
    height: 3%;
    align-items: center;
}

#menu li {
    font-size: 30px;
    transition: color 2s; 
    transition:font-size 2;
    transition:text-shadow  0.3s ; 
}
#menu li:hover{
    color: white; 
    font-size: 40px;
    text-shadow: 2px 2px 10px white;
}



#contenido{
    height: 70% ;
    width: 55%;
    border-radius: 5px ;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.577);
    border: 2px solid blue ;
    box-shadow: 2px 2px 10px blue;
    color: white;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.2vw;
    margin-left: 3%;
}
#contenido h1{
    font-size: 200%;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-shadow: 10px 0px 10px white;
}

#imagen-destacada {
    margin-right: auto; 
    margin-left: auto;
    height: auto;    
    width: 20vw;   
    object-fit: cover;  
    border-radius: 50px; 
    box-shadow: 2px 2px 10px white;
    display: flex;
}

#imagen-destacada2 {
    margin-right: 6px; 
    margin-left: 6px;
    height: auto;    
    width: 20vw;    
    object-fit: cover;  
}

#todimg{
    padding-left: 100px;
    margin-right: 100px;
}


#seccion{
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    
}

#fueraSeccion{
    float: right;
    vertical-align:auto;
    height: auto;
    width: 25%;
    background-color: transparent;
    color: white;
    margin-left:0px ;
    border-radius: 5px ;
    border: 3px solid white ;
    box-shadow: 2px 2px 10px white;
   margin: 5%;
   background-color: rgba(0, 0, 0, 0.589);
   margin-top: 2%;
   
    
}


.contenedorizquierdo li  {
    margin-bottom: 0.2vw;
    font-size: 1.5vw;
    margin-left: 5%;
    transition: color 0.8s; 
    transition:font-size 0.8s;
    transition:text-shadow  0.8s ; 
}
.contenedorizquierdo li:hover  {
    color: rgb(186, 45, 186); 
    font-size: 27px;
    text-shadow: 2px 2px 10px rgb(186, 45, 186);
}

.contenedorizquierdo {
   align-items: left;
    text-align:left;
    margin: 0;
    margin-top: 6%;
    display:block;
    height: auto ;
    width: auto;
    font-size: 1.3vw;
}
.contenedorizquierdo h2{
    text-align:center;
    margin: 0vw;
    margin-left: 10px;
    display:block;
    height: auto ;
    width: auto;
    font-size: 2.5vw;
    margin-bottom: 1vw;
}
#imagen{
    margin-right: 5px; 
    margin-left: 5px;
    height: 200px;    
    width: 300px;    
    object-fit: cover;  
    border-radius: 50px; 
    box-shadow: none;
 
}
footer {
    background-color: rgba(128, 0, 128, 0.508);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    width: 100%;
    margin-top: -4%;
    margin-bottom: -15px;
    margin-left: -3%;
    border-top: 3px solid rgb(141, 12, 141);
    box-shadow: 10px -4px 10px purple;
}
.resaltar{ 
    transition: color 0.3s; 
    transition:font-size 0.3s; 
}
.resaltar:hover {
    color: white; 
    font-size: 25px;
}
