html{
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
    gap:10px;/*este pone saltos de linea entre cada uno deve ser dentro del contenedor que lo tiene todos*/
    justify-content: center;
    align-items: center;

}
div {
    display: flex;
    justify-content: center; /*este*/
     align-items: center; /* y este junto con diplay flex alinean el texto
    /* display: grid;/*estas 2 en conjunto son otra opcion 
     place-items: center; pero no controla indepentiente vertical y horizontal*/
     background-color: aqua;
     height: 50px;
     width: 50px;
            
}

